<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirecionar todas as solicitações para a página principal
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [L]
</IfModule>
